<div class="d-flex justify-content-center align-items-center m-5">
  <div class="card d-flex justify-content-center">
    <div class="text-center">
      <div id="checkmark" class="mb-4">
        <svg width="100" height="100">
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#28a745"
            stroke-width="5"
            fill="none"
          ></circle>
          <polyline
            points="35,50 45,65 65,35"
            stroke="#28a745"
            stroke-width="5"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></polyline>
        </svg>
      </div>
      <h3>Successfully</h3>
      <p>Your account successfully created</p>
      <p>Just a few steps more to set up your business account</p>
    </div>
  </div>
</div>
